<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div>
      <input type="text" class="search-bar" [(ngModel)]="filtertext">
    </div>
    <div *ngFor="let item of heroes | searchHeroes:filtertext"> 
      <ul>
        <li>{{item.name}}</li>&nbsp;&nbsp;
        <li>{{item.age}}</li>&nbsp;&nbsp;
        <li>{{item.country}}</li>
      </ul>
    </div>
    <div class="dropdown">
        <div class="dropbtn"></div>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
  </body>
</html>
